<div class = "formcontract">
<%= simple_form_for @character, :html => { :class => 'form-horizontal well' } do |f| %>
  <fieldset>
    <div class ="control-group">
  <%= f.input :name %>
</div>
<div class ="control-group">
  <%= f.input :address %>
  </div>
  <div class ="control-group">
  <%= f.input :longitude %>
  </div>
  <div class ="control-group">
  <%= f.input :latitude %>
  </div>
  <div class ="control-group">
  <%= f.input :fences %>
  </div>
  <div class ="control-group">
  <%= f.input :gmaps %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>

    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'btn' %>
  </div>
<% end %>
</fieldset>
</div>
