<header class ="jumbotron subhead" id="overview"><div class = "row">

    <%= current_user.id %>

    <fieldset><%- model_class = Character -%>
      <section id="tables">
        <div class="page-header" align="center">
          <h1>SBS Fence Pty Ltd</h1>
          <p>
            <%= flash[:notice] %>
          </p>
          <!--
          <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
          -->
        </div>
        </header>
        <h2> Search Contracts </h2>
        <%= form_tag characters_path, :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
        <% end %>
        <div class ="page-header">
          <h1>Rental Contracts</h1>
        </div>

        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th> </th>
             <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:address) %></th>
              <th>Contract Ends On</th>
              <th><%= model_class.human_attribute_name(:fences) %></th>


              <!--
              <th><%= model_class.human_attribute_name(:longitude) %></th>
              <th><%= model_class.human_attribute_name(:latitude) %></th>
              <th><%= model_class.human_attribute_name(:fences) %></th>
              <th><%= model_class.human_attribute_name(:gmaps) %></th>
              <th><%= model_class.human_attribute_name(:created_at) %></th>
              -->
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @characters.each do |character| %>
              <% if character.lessthan? %>
                <tr class = "warning">
                  <td> Expiring within 14 days
                  </td>
                <% elsif character.expiretoday? %>
                <tr class = "error">
                  <td>Expired</td>
                <% else %>
                <tr>
                  <td></td>
                <% end %>

                  <!--<td><%= link_to character.id, character_path(character) %></td>-->
                <td><span id="map_<%=character.id%>" onclick="set_map_position(<%=character.id%>)" style="cursor: pointer"> <%= character.name %></span></td>
                <td><%= character.address %></td>
                <td><%= character.contractendon %></td>
                <td><%= character.fences %></td>

                   <!--  <td><%= character.longitude %></td>
                     <td><%= character.latitude %></td>
                     <td><%= character.fences %></td>
                     <td><%= character.gmaps %></td>
                     <td><%=l character.created_at %></td>
                -->
                <td>
                  <div>
                    <div>
                      <button class="rerun">Actions</button>
                      <button class="select">Select an action</button>
                    </div>
                    <ul>
                      <li>Actions</li>
                      <li><%= link_to 'Markers', character_markers_path(character.id) %></li>
                      <li><%= link_to 'Edit', edit_character_path(character) %></li>
                      <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          character_path(character),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></li>
                      <li><%= link_to 'Send Email', email_contract_path(character) %></li>
                      <li><%= link_to 'Send Sms', sms_contract_path(character) %></li>
                    </ul>
                  </div>

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </fieldset>
    <%=link_to "Export to csv", export_to_csv_characters_path%><br/><br/>
    <%=form_tag import_records_characters_path, :multipart => true do |f|%>
      upload data:<%=file_field_tag "data_file"%>
      <%=submit_tag "import"%>
    <%end%>
    <%= will_paginate @characters %>

    <%= link_to t('.new', :default => t("helpers.links.new")),
      new_character_path,
      :class => 'btn btn-primary btn-large' %>
    </section>
    <section id = "typography">
      <div class="page-header">
        <h2>MAP</h2>
      </div>
    </section>
    
    <div id="map_div">
      <%#= gmaps("map_options" => {"center_latitude" => 37,
          "center_longitude" => 37,
          "detect_location" => false,
          "center_on_user" => false,
          "auto_adjust" => false,
          "auto_zoom" => true,
          "zoom" => 8 },
        :markers => { :data => @json  }
      )%>
      <%#= gmaps("map_options" => {"center_latitude" => lat.blank? ? 37 : lat,
          "center_longitude" => long.blank? ? 37 : long,
          "detect_location" => false,
          "center_on_user" => false,
          "auto_adjust" => false,
          "auto_zoom" => true,
          "zoom" => 8 },
        :markers => { :data => @json  }
      )%>
    <%= render :partial => "map_partial", :locals => {:json => @json, :lat => "37", :long => "37"} %>
    </div>
    <%=link_to "View full screen", view_full_map_characters_path, :target => "_blank"%>


  </div>
  <script type="text/javascript">
    function set_map_position(cid){
    $.ajax({
    url: "/set_position?id="+cid
    })
    }
  </script>
