<%= form_for @asset, :url => assets_path do |f|%>
  name: <br/>
  <%= f.text_field :name %><br/>

  <div style="float:left;width:100%;">
    <div style="float:left;">
      description: <br/>
      <%= f.text_area :description %><br/>
    </div>
  </div>

  model: <br/>
  <%= f.text_field :model %><br/>

  quantity: <br/>
  <%= f.text_field :quantity %><br/>

  <%= f.submit "Create" %>

<%end%>