<div class="main-div">
  <%= form_for @plan, :url => plans_path do |f|%>

    <div class="left-div">
      Title: <br/>
      <%= f.text_field :title %><br/>

      <div class="left-container">
        <div style="float:left;">
          Description: <br/>
          <%= f.text_area :description, :class => "tinymce" %><br/>
          <%= tinymce %>
        </div>
      </div>
    </div>
    <div class="right-div">
      Price: <br/>
      <%= f.text_field :price %><br/>

      Frequency: <br/>
      <%= f.text_field :frequency %><br/>

      Type: <br/>
      <%= select_tag "plan[plan_type]", options_for_select([["SMS","sms"],["Package","package"]]),:prompt => "Select Fields", :class => "input", :style => "width:220px;" %>
      <br />
      <%= f.submit "Create", :style => "width:100px;" %>
    </div>
  <%end%>
</div>